<?xml version="1.0"?>
<system.diagnostics>
  <trace autoflush="true" />
  <sources>
    <source name="MyFirstApiSource" switchName="MyFirstApiSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <clear />
        <add name="MyFirstApilistener" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <!--event viewer-->
    <!--powershell command: new-eventlog -source MyFirstApi -logname MyFirstApi-->
    <add name="MyFirstApilistener"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="MyFirstApi" />
  </sharedListeners>
  <switches>
    <add name="MyFirstApiSwitch" value="Information" />
  </switches>
</system.diagnostics>
